{% extends 'catalog/base_products.html' %}

{% load my_tags %}

{% block content %}
        {% for object in object_list %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ object.name }}</h1>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">{{ object.description|slice:100 }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
